<div class="container-tertiary">
  <nav class="navbar navbar-expand" style="background-color: #e3f2fd;">
    <a class="navbar-brand" style="margin-left: 10px;"
      style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" href="/">HoloTix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="padding-left: 900px;">
        <a class="nav-link" href="#">Ticket</a>
        <a class="nav-link" href="#">History</a>
        <a class="nav-link" href="/logout">Logout</a>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
</div>